/* Default styles for larger screens */
/* You can place these styles in your main stylesheet */
/* .container {
  width: 80%;
  margin: 0 auto;
} */

/* Responsive styles for smaller screens */
/* @media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
} */



.container {
    margin-top: 4rem;
  }
  
  .card {
    background: linear-gradient(45deg, whitesmoke);
    animation: gradient 15s infinite alternate;
    padding: 5rem;
    border: 1px solid rgb(247, 228, 231);
    border-radius: 100px;
    background-color: #f8f8f8;
    box-shadow: 0 0 50px rgb(247, 228, 231);
    text-align: center;
    font-family: Impact, fantasy;
  }

  /* Background animation */
body {
  background: linear-gradient(45deg,  whitesmoke);
  animation: gradient 15s infinite alternate;
}

  .form-group {
    margin-bottom: 2rem;
  }
  

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    width: 20%;
    border-radius: 50px;
  }

  .btn-primary:hover {
    background-color: #0056b3; 
  }

  h1{
    text-align: center;
    font-family: Impact, fantasy;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 100px  whitesmoke;
    background: linear-gradient(45deg, whitesmoke);
    animation: gradient 15s infinite alternate;
  }
  
  table th{
    background-color: #c4c3bc;
  }

  table th:hover{
    background-color: #f0f0f0; 
    cursor: pointer;
  }

  table th, table td {
    border: 1px solid rgb(247, 228, 231),;
    padding: 0.5rem;
    text-align: center;
    font-family: Impact, fantasy;
  }

  table tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer; 
  }
  
  .loading-message {
    font-weight: bold;
    color: #007bff;
    font-size: 1.2rem;
    text-align: center;
  }

.btn-success{
    background-color: #2dbb28;
    color: #fff;
    width: 30%;
    border: 1px solid #2dbb28;
    border-radius: 50px;
}

.btn-success:hover{
  background-color: #358b32; 
}

.btn-danger{
    background-color: #cf2317;
    color: #fff;
    width: 30%;
    border: 1px solid #cf2317;
    border-radius: 50px;
}

.btn-danger:hover{
  background-color: #9c2f27; 
}
  