
  body {
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .card {
    margin: 20px 0;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 8px;
  }
  
  .card-header {
    background-color: #455c74;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

.logout-button {
  background-color: red;
  color: white;
}

  
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 20px;
    }
  
    .card {
      margin: 10px 0;
    }
  }