<!-- <div class="container">
  <h2>Dashboard</h2>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Sales</h5>
          <p>Total Sales: $100</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Orders</h5>
          <p>Total Orders: 100</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Users</h5>
          <p>Total Users: 500</p>
        </div>
      </div>
    </div>

  </div>
</div> -->


<!-- home.component.html -->
<div class="container mt-4">
  <h1>Customer Dashboard</h1>
  <div class="card">
    <div class="card-header">
      Total Registered Customers
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ totalCustomers }}</h3>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Recent Registered Customer's ID
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ recentCustomer }}</h3>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Recent Registered Customer's Address
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ recentCustomerAddress.toUpperCase() }}</h3>
    </div>
  </div>

</div>














  <!-- <div class="col-md-4">
      <div class="card">
        <img src="assets/img/krishna.jpg" class="card-img-top" alt="krishna">
        <div class="card-body">
          <p>This is Krishna.</p>
        </div>
      </div>
    </div> -->