<!-- home.component.html -->
<div class="container mt-4">
  <button class="btn btn-primary logout-button" (click)="logout()">Logout</button>
  <h1>Customer Dashboard</h1>
  <div class="card">
    <div class="card-header">
      Total Registered Customers
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ totalCustomers }}</h3>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Recent Registered Customer's ID
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ recentCustomer }}</h3>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Recent Registered Customer's Address
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ recentCustomerAddress.toUpperCase() }}</h3>
    </div>
  </div>

</div>