<!-- using bootstrap  -->

<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Registration</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-home></app-home>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-customer></app-customer>
    </div>
</div> -->


  <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">Customers Website</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a></li>
            <li><a class="button" routerLink="/customer" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Customer</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div> -->



<!-- horizontal navigation -->

<!-- <div class="header">
    <a href="#default" class="logo">CustomersWebsite</a>
    <div class="header-right">
        <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
        <a class="button" routerLink="/customer" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Customer</a>
    </div>
  </div>
  
  <div style="padding-left:20px">
    <router-outlet></router-outlet>
  </div> -->



<!-- vertical navigation -->

  <!-- <div class="container">
    <div class="content">
        <div class="sidebar">
            <a href="#default" class="logo">CustomersWebsite</a>
            <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
            <a class="button" routerLink="/customer" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Customer</a>
        </div>
  
        <div style="padding-left:20px">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->



<div class="sidenav">
    <h3>CustomersWebsite</h3>
    <hr>
    <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
    <a class="button" routerLink="/customer" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Customer</a>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>





