/* vertical navbar css */

/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1; 
}

.container {
    display: flex;
    height: 100vh; 
}

.content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: #333; 
    color: white;
    width: 250px; 
    padding: 20px;
    margin-left: 0%;
    box-sizing: border-box;
}

.sidebar .logo {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

.sidebar .button {
    text-align: left;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

.sidebar .button:hover {
    background-color: #007bff;
}

.router-outlet {
    padding: 20px;
} */




/* sidebar fixed navigation css */

body {
    font-family: "Lato", sans-serif;
    margin: 0; 
  }
  
  .sidenav {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b1aeae;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0f0e0e;
    display: block;
  }

  .logo:hover{
    color: #030303;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 250px; 
    font-size: 18px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }